<div class="container mt-5">
    <div class="d-flex flex-row justify-content-around">

        <div class="card col-3">
            <img src="/image/user.png" class="card-img-top  bg-success-subtle" alt="Lỗi hiển thị hình ảnh">

            <div class="card-body">
                <h5 class="card-title">Người dùng</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="users" class="btn btn-primary">Quản lí người dùng</a>
            </div>
        </div>


        <div class="card col-3">
            <img src="/image/package.png" class="card-img-top bg-danger-subtle" alt="Lỗi hiển thị hình ảnh">

            <div class="card-body">
                <h5 class="card-title">Sản phẩm</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="products" class="btn btn-primary">Quản lí sản phẩm</a>
            </div>
        </div>

        <div class="card col-3">
            <img src="/image/settings.png" class="card-img-top  bg-warning-subtle" alt="Lỗi hiển thị hình ảnh">

            <div class="card-body">
                <h5 class="card-title">Thiết lập</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="settings" class="btn btn-primary">Cài đặt tài khoản</a>
            </div>
        </div>
    </div>
</div>