<div class="mt-3 d-flex flex-row justify-content-around">

    <div class="card col-3">
        <img src="/image/product/user.png"
            class="card-img-top  bg-success-subtle" alt="Lỗi hiển thị hình ảnh">

        <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="users" class="btn btn-primary">User management</a>
        </div>
    </div>


    <div class="card col-3">
        <img src="/image/product/package.png"
            class="card-img-top bg-danger-subtle" alt="Lỗi hiển thị hình ảnh">

        <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="products" class="btn btn-primary">Product management</a>
        </div>
    </div>

    <div class="card col-3">
        <img src="/image/product/settings.png"
            class="card-img-top  bg-warning-subtle" alt="Lỗi hiển thị hình ảnh">

        <div class="card-body">
            <h5 class="card-title">Settings</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="settings" class="btn btn-primary">Account settings</a>
        </div>
    </div>
</div>