<nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img src="/image/logo.png" width="35px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
            <div class="p-2 flex-grow-1">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{#if type_eq_0}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users"><i
                                class="fa-sharp fa-solid fa-user"></i>Người dùng</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Sản phẩm</a>
                    </li>


                </ul>
            </div>
            <div class="p-2">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{{userM.image}}" style="width: 30px;height: 30px; border-radius: 20px;" />
                            {{userM.fullname}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/users/{{userM._id}}">Thiết lập</a></li>
                            <li><a class="dropdown-item" href="/sign-in">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>